body {
    font-family: Verdana;
}

h2 {
    color: blue;
    text-align: center;
}

h3 {
    color:  rgb(255, 200, 0);
    text-align: center;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.hores {
    font-size: 20px;
    padding: 10px;
    width: 180px;
}

.rosa {
    background-color: pink;
}

.bisque {
    background-color: rgb(255, 235, 211);
}

.teal {
    background-color: teal;
}

.rojo {
    background-color: red;
}

.groc {
    background-color: yellow;
}

.grocf {
    background-color: rgb(255, 200, 0);
}

.lavander {
    background-color: rgb(69, 69, 200);
}

.naranja {
    background-color: orange;
}

th {
    background-color: lime;
    padding: 30px;
    font-size: 25px;
}

#descans {
    font-size: 20px;
    padding: 15px;
}